<h1>Listing groups</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Name</th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%=h group.parent_id %></td>
    <td><%=h group.name %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Groups', group_groups_path(group) %></td>
    <td><%= link_to 'People', group_people_path(group) %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%- if @group -%>
  <%= link_to 'New group', new_group_group_path(@group) %>
<%- elsif @person -%>
  <%= link_to 'New group', new_person_group_path(@person) %>
<%- else -%>
  <%= link_to 'New group', new_group_path %>
<%- end -%>

